@charset "utf-8";
.index_news{background: #f5f5f5;padding: 40px 0;box-sizing: border-box;}
.autho_lsit{}
.autho_lsit .autho_item{background: #fff;border: 1px dashed #c7c7c7;padding: 20px 10px;box-sizing: border-box;margin-bottom: 25px;}
.autho_item_left{text-align: center;display: flex;justify-content: center;align-items: center;}
.autho_item_left img{max-height: 90px;max-width: 100%;margin-bottom: 20px;}

.autho_item_right{}
.autho_item_right ul{}
.autho_item_right ul li{clear: both;overflow: hidden;padding: 10px;box-sizing: border-box;border-radius: 5px;}
.autho_item_right ul li.one{background: #f5f5f5; }
.autho_item_right ul li.two{ }
.autho_item_right ul li p{float: left;width: 120px;font-size: 14px;}
.autho_item_right ul li span{font-size: 14px;color: #999;}



.layui-laypage .layui-laypage-curr .layui-laypage-em{background: #002e5b;}
@media only screen and (min-width: 920px){
 
 .autho_item_left{height: 200px;}
}
















