@charset "utf-8";

table tr th,
table tr td{
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
}

.about_banner{width: 100%;}
.about_banner img{max-height: 500px; width: 100%;}


.index_news{background: #fff;padding: 40px 0;box-sizing: border-box;}

.about_item_left{margin-bottom: 20px;}
.about_item_left dl{ min-width: 180px;}
.about_item_left dt{background: #002e5b;color: #fff;padding: 10px 25px;box-sizing: border-box;font-size: 16px;}
.about_item_left dd{border-left: 10px solid #002e5b;margin-top: 10px;color: #333;padding: 10px 15px;font-size: 16px;box-sizing: border-box;background: #efefef;}
.about_item_left dd a{display: block;}


@media only screen and (min-width: 768px){ 
	
}
@media only screen and (max-width: 768px){
.about_item_left dl dd{display: none; }
}

.about_item_right{}
.about_item_right .about_item{margin-bottom: 30px;}
.about_item_right .about_item h5{font-size: 20px;background: #002e5b;float: left;height: 44px;color: #fff;padding: 10px 15px;box-sizing: border-box;margin-bottom: 10px;
	min-width: 170px;border-radius: 0 0 25px 0;}
.about_item_right .about_item .about_item_cont{background: #f5f5f5;border-top: 4px solid #002e5b;padding-top: 20px;box-sizing: border-box;clear: both;overflow: hidden;}
.about_item_right .about_item .about_item_cont p{font-size: 14px;color: #333;line-height: 28px;}
.about_item_right .about_item .about_item_cont img{width: 100%;margin-top: 20px;}
.about_item_right .about_item p b{color: #002e5b;}
.about_item_cont_one{padding: 0 10px;box-sizing: border-box;}

.about_item_cont_tow{padding: 0 20px;box-sizing: border-box; margin-bottom: 20px;}
.about_item_cont_tow h6{font-size: 16px;color: #002e5b;line-height: 26px;font-weight: bold;margin-bottom: 5px; }
.about_item_cont_tow p{font-size: 14px;color: #333;line-height: 28px;margin-bottom: 5px; }
.about_item_cont_tow p i{background: url(../images/num_bg.png) no-repeat;width: 30px;height: 30px;display: inline-block;background-size:100%;color: #fff;text-align: center;
	line-height: 30px;margin-right: 5px;}

.about_item_cont_bg{background: #fff;border-top: 4px solid #002e5b;padding-top: 20px;box-sizing: border-box;clear: both;overflow: hidden;}







