@charset "utf-8";
.m_content{max-width: 1140px;margin: 50px auto;clear: both;overflow: auto;padding: 0 20px;}


/*关于协会about页面*/
.m_content .m_cont{font-size: 14px;color: #666;text-indent: 2em;padding: 0 100px;box-sizing: border-box;}

 p{
	line-height: 26px; 
	
}
.on_address{padding-left: 10px;}
/*项目合作页面*/
.m_content .project_list{width: 100%;padding: 0 100px;box-sizing: border-box;}
.m_content .project_item{margin-bottom: 20px;}
.m_content .project_item h3,
.m_content .project_item h4,
.m_content .project_item h5{margin-bottom: 5px;padding-top: 0;}

.m_content .project_item h3{font-size: 22px;position: relative;padding-left: 10px;}
.m_content .project_item h4{font-size: 16px;}
.m_content .project_item h5{font-size: 14px;}

.m_content .project_item p{margin-bottom: 0px;text-indent: 2em;} 

.m_content .project_item h3:after,
.m_content .project_item h4:after,
.m_content .project_item h5:after{display: none;}

.m_content .project_item h3:before{
	    content: '';position: absolute;left: 0;top: 5px;
	    display: block;
	    width: 5px;
	    height: 30px;
	    background: #fde428;
	    border-radius: 3px;
}



/*查询*/
.m_query_form{margin-bottom: 40px;}
.m_query_form .query_title{margin-bottom: 40px;}
.m_query_form .query_title h3{text-align: center;font-size: 38px;color: #333; margin-bottom: 10px;}
.m_query_form .query_title h5{text-align: center;font-size: 32px;color: #333;}
 
 .search_form{}
 .search_form .query_item_left{padding: 10px 50px;}
 .search_form .query_item_left p{margin: 10px 0;font-size: 16px;}
 .search_form .query_item_left input{margin-bottom: 10px;width: 100%;height: 45px;font-size: 14px;padding: 10px;box-sizing: border-box;border: 1px solid #cccccc;}
  .search_form .query_item_left .get_search{margin-top: 20px;background: #002e5b;color: #fff;border: none;}
  
 .search_form .query_item_right{text-align: center;} 
 .search_form .query_item_right img{max-width: 100%;} 
 
 
  .m_query_form .careful{border: 1px solid #999;padding: 30px;box-sizing: border-box;margin: 30px;}
  .m_query_form .careful p{font-size: 14px;color: #333;line-height: 24px;}




/*证书查询页面*/
.query{padding: 0 250px;box-sizing: border-box;position: relative;clear: both;overflow: hidden;}
.query img.user_bg{width: 100%;}

.query img.user_img{width: 120px;position: absolute;top: 360px;left: 50%;margin-left: -60px;}
.query .user_name{width: 120px;position: absolute;top: 525px;left: 50%;margin-left: -60px;padding: 0;text-align: center;margin-bottom: 0;font-family: "楷体";font-size: 22px;} 
.query .user_name:after{display: none;}

.query p{font-size: 18px;color: #000;font-family: "宋体";font-weight: 700;    letter-spacing: 2px;position: absolute;padding-left: 220px;box-sizing: border-box;}
.query .user_shenfen{top: 620px;} 
.query .user_number{top: 656px;} 
.query .user_date{top: 691px;} 





.m_query{width: 800px;margin: 0 auto 40px; clear: both;overflow: hidden;background: url(../images/zhengshu_bg.png) no-repeat center center;background-size: 100% 100%;}

.m_query .left{width: 50%;float: left;padding:40px 10px 40px 60px;  box-sizing: border-box; }
.m_query .left .top .user_img{width: 120px;height: 142px;margin-right: 10px;}
.m_query .left .top .erweima{width: 140px;height: 140px;}
.m_query .left .btm{margin-top: 15px;}
.m_query .left .btm ul{list-style: none;padding: 0;}
.m_query .left .btm ul li{clear: both;overflow: hidden;margin-bottom: 10px;}

.m_query .left .btm ul li p{font-size: 18px;font-family: "宋体";color: #000;line-height: 20px;position: relative;margin: 0;font-weight: normal;}
.m_query .left .btm ul li p span{font-size: 18px;}
/*名字,性别*/
.m_query .left .btm ul .m_name p{width: 50%;float: left;}
.m_query .left .btm ul .m_name p:after{content: '';display: block;width: 100px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}
.m_query .left .btm ul .m_name p span{margin-left: 20px;}
/*出生日期*/
.m_query .left .btm ul .birth p{margin-bottom: 3px;text-align: left;}
.m_query .left .btm ul .birth p span{margin: 0 12px;}
.m_query .left .btm ul .birth p:nth-child(2){font-size: 16px;}
.m_query .left .btm ul .birth p:nth-child(2) span{background: #000;border-bottom: 1px solid #000;display: inline-block;width: 30px;margin: 0 6px;}

/*文化程度*/
.m_query .left .btm ul .m_level p span{margin-left: 100px;}
.m_query .left .btm ul .m_level p:nth-child(2){font-size: 16px;}
.m_query .left .btm ul .m_level p:nth-child(2):after{content: '';display: block;width: 160px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}


/*发证日期*/
.m_query .left .btm ul .m_lssue p span{margin-left: 40px;font-size: 16px;}
.m_query .left .btm ul .m_lssue p:nth-child(2){font-size: 16px;}
.m_query .left .btm ul .m_lssue p:nth-child(2):after{content: '';display: block;width: 200px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}


/*证书编号*/
.m_query .left .btm ul .m_ficate p span{margin-left: 40px;font-size: 16px;}
.m_query .left .btm ul .m_ficate p:nth-child(2){font-size: 16px;}
.m_query .left .btm ul .m_ficate p:nth-child(2):after{content: '';display: block;width: 190px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}


/*身份证号*/
.m_query .left .btm ul .m_card p span{margin-left: 40px;font-size: 16px;}
.m_query .left .btm ul .m_card p:nth-child(2){font-size: 16px;}
.m_query .left .btm ul .m_card p:nth-child(2):after{content: '';display: block;width: 220px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}


 

.m_query .right{width: 50%;float: left;padding:60px 20px 20px 20px;  box-sizing: border-box; }
.m_query .right ul{list-style: none;padding: 0;}
.m_query .right ul li{clear: both;overflow: hidden;margin-bottom: 30px;}

.m_query .right ul li p{font-size: 18px;font-family: "宋体";color: #000;line-height: 20px;position: relative;margin: 0;font-weight: normal;}
.m_query .right ul li p span{font-size: 18px;}

/*文化程度*/
.m_query .right ul .m_level p span{margin-left: 100px;}
.m_query .right ul .m_level p:nth-child(2){font-size: 16px;}
.m_query .right ul .m_level p:nth-child(2):after{content: '';display: block;width: 160px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}


/*发证日期*/
.m_query .right ul .m_lssue p span{margin-left: 150px;font-size: 16px;}
.m_query .right ul .m_lssue p:nth-child(2){font-size: 16px;}
.m_query .right ul .m_lssue p:nth-child(2):after{content: '';display: block;width: 40px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}


/*证书编号*/
.m_query .right ul .m_ficate p span{margin-left: 150px;font-size: 16px;}
.m_query .right ul .m_ficate p:nth-child(2){font-size: 16px;}
.m_query .right ul .m_ficate p:nth-child(2):after{content: '';display: block;width: 80px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}


/*身份证号*/
.m_query .right ul .m_card p span{margin-left: 120px;font-size: 16px;}
.m_query .right ul .m_card p:nth-child(2){font-size: 16px;}
.m_query .right ul .m_card p:nth-child(2):after{content: '';display: block;width: 220px;height: 1px;background: #000;position: absolute;bottom: 4px;right: 20px;}



.logo_m{text-align: center;position: relative;}
.logo_m p{width: 100%;text-align: center;margin: 0;font-family: "宋体";color: #000;}
.logo_m .title_m{position: absolute;top: 60px;font-size: 24px;font-family: "楷体";}
.logo_m .title_mm{position: absolute;top: 85px;font-size: 12px;}
.logo_m .time_m{position: absolute;top: 113px;font-size: 22px;}
.logo_m .time_mm{position: absolute;top: 85px;font-size: 22px;}






/*证书下部*/
.left_title{text-indent: 2em;font-size: 23px;margin-top: 30px;font-family: "楷体";color: #000;}
.left_title_m{text-indent: 2em;font-size: 22px;margin-top: 15px;font-family: "楷体";color: #000;}
.left_title_mm{text-indent: 1em;font-size: 16px;margin-top: 15px;margin-bottom: 15px; font-family: "宋体";color: #000;}



.right_top{text-align: center;}
 
.right_top .right_title{font-size: 40px;color: #000;font-weight: bold;margin-bottom: 20px;margin-top: 70px;}

.right_top .right_title_m{font-size: 30px;font-family: "楷体";color: #000;margin-bottom: 0;margin-top: 50px;font-weight: bold;}
.right_top .right_title_mm{color: #000;font-size: 14px;}

 

.right_btm{text-align: center;margin-top: 120px;}
.right_btm .btm_title{font-size: 40px;font-family: "楷体";color: #000;}
.right_btm .btm_title_m{font-size: 30px;font-family: "宋体";color: #000;}
.right_btm p{
	line-height: 26px;
	margin: 0 0 15px;
	
}



/*成绩查询*/
.score_query{
	width: 800px;
    margin: 0 auto 40px;
    clear: both;padding: 10px;box-sizing: border-box;
    overflow: hidden;
}
.score_query h3{
    font-size: 22px;
    position: relative;color: #333;
    text-align: center;
    margin-bottom: 20px;
}
 
.score_query_top{
    padding: 10px 15px;
	background-color: #f5f5f5;
	border-color: #ddd;
}
.score_query_top p{
	margin-bottom: 0;font-size: 16px;color: #333;
}
.score_query_top p span{margin-right: 30px;color: #666;}

.score_query_cont{}
.score_query_cont dl{}
.score_query_cont dl dt{padding: 10px;box-sizing: border-box;background: #ddd;}
.score_query_cont dl dt span{display: inline-block;width: 20%;text-align: center;}
.score_query_cont dl dt .score_name{width: 38%;}
.score_query_cont dl dd{border-top: 1px solid #eee;padding: 10px;box-sizing: border-box;}
.score_query_cont dl dd span{display: inline-block;width: 20%;text-align: center;font-size: 14px;}
.score_query_cont dl dd span.score_name{width: 38%;}
.score_query_cont dl dd span.yes{color: blue}
.score_query_cont dl dd span.no{color: red}
				





/*移动端*/
@media screen and (max-width:1024px){
	#style_m{display: none!important;}	
	.m_content .project_list,
	.m_content .m_cont{padding: 0 20px!important;}	
	.search_form .query_item_left{padding: 10px 20px;}
	.m_query_form .careful{margin: 30px 0;}	
}






