/*
 * css reset
 * Date: 2019-05-20-页面通用样式
 * User: xiaomingying  
 * 
 * */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{padding:0;margin:0;box-sizing: border-box;}
fieldset,img,html,body,iframe{border:0;	padding:0;margin:0;font-family: "microsoft yahei";}
/*font-family: 'Microsoft Yahei', Arial, Verdana, 宋体;*/
/*font: 12px/1.5 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif;*/  
/** 重置表格元素 **/
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
caption,th{text-align:left;}
em,i,small,caption,th{font-weight:normal;font-style:normal;font-size:100%;}
h1,h2,h3,h4,h5,h6,em{font-weight:normal;}
q:before,q:after{content:'';}
img{border:0;vertical-align:middle;object-fit: cover;}
a,button{outline:none;border:0;text-decoration: none;cursor: pointer;}
  
a:link { text-decoration:none;} /*//未访问：蓝色、无下划线 */
/*a:active:{color: red; }  
a:visited {color:purple;text-decoration:none;}   */
a:hover { text-decoration:none;} /*//鼠标移近：红色、下划线 */


input,select{border:1px solid #ccc;font-family:inherit;}
button::-moz-focus-inner{border:0;padding:0;margin:0;}
textarea,input,button,select{outline:0;font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;outline:none;}
textarea{overflow:auto;resize:none;font-family:inherit;}

/*文字排版*/
.fz12{font-size:12px;}
.fz13{font-size:13px;}
.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.fz24{font-size:24px;}
.fz32{font-size:32px;}
.fz48{font-size:48px;}
.fz64{font-size:64px;}
.fz96{font-size:96px;}
.fz128{font-size:128px;}
.t2{text-indent: 2em;}

/*绿色字体*/
.m_green{color: #13C07E;}
/*黄色字体*/
.m_yellow{color: #FF5722;}
/*红色色字体*/
.m_red{color: #ff0000;}
/*蓝色字体*/
.m_blue{color: #1E9FFF;}
.c1{color:red;}
.c2{color:blue;}
.c3{color:yellow;}

.lh150{line-height: 150%;}
.lh180{line-height: 180%;}
.lh200{line-height: 200%;}
.unl{text-decoration: underline;}
.no_unl{text-decoration: none;}



/*内-外-边距*/
.mr5{margin: 5px;}
.mr10{margin: 10px;}
.mr15{margin: 15px;}
.mr20{margin: 20px;}
.mr30{margin: 30px;}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}

.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}

.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}

.pd5{padding: 5px;}
.pd10{padding: 10px;}
.pd15{padding: 15px;}
.pd20{padding: 20px;}
.pr30{padding: 30px;}

.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}

.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pl5{padding-left: 5px;}

.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pr5{padding-right: 5px;}

.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}

/*宽度和高度 div p form控制input的宽度和高度*/
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w200{width:200px;}
.w250{width:250px;}
.w400{width:400px;}
.w500{width:500px;}
.w700{width:700px;}
.w{width:100%;}
.h{height:100%;}
.h50{height:50px;}
.h80{height:80px;}
.h200{height:200px;}

/*定位浮动*/
.tl{text-align:left;}
.tc{text-align: center;}
.tr{text-align: right;}

.m_clear{clear: both;overflow: hidden;}
.m_fl{float:left;}
.m_fr{float:right;}

.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.vm{vertical-align: middle;}
.pr{position: relative;}
.pa{position:absolute;}
.px{position:fixed;}


/*隐藏和显示类*/
.hide{display: none;}
.show{display: block;}
.hidden{visibility: hidden;}

/*清楚浮动*/
.clearfix{*zoom:1;}/*兼容ie67*/
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
/*ie9+*/

/*鼠标手势*/
.cur{cursor: pointer;}
.curm{cursor: move;}
.curd{cursor: default;}

.on_address{font-size: 16px;margin-bottom: 20px; }

/*公共头部*/
#header{}
#header .header_top{margin: 15px 0;}
#header .header_top .logo{width: 500px;text-transform: uppercase;} 
#header .header_top .font_type{margin-top: 30px;font-size: 16px;color: #333;cursor: pointer;} 

#header .top_nav{background: #002e5b;}
#header .top_nav .main_menu_nav{text-align: center;}
#header .top_nav .main_menu_nav .menu_item{display: inline-block;height: 66px;padding: 0 12px;box-sizing: border-box;position: relative;}
#header .top_nav .main_menu_nav .menu_item>a{color: #fff;display: block;line-height: 66px;font-size: 16px;}
#header .top_nav .main_menu_nav .menu_item:hover a{color: #fde428;}
#header .top_nav .main_menu_nav .menu_item.active a{color: #fde428;}
#header .top_nav .main_menu_nav .menu_item:first-child:after {display: none; } 
#header .top_nav .main_menu_nav .menu_item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 16px;
    width: 1px;
    margin: -8px 0 0;
    background: rgba(255, 255, 255, 0.2); 
}
#header .top_nav .main_menu_nav .menu_item .menu_item_list{display: none;height: 0;  position: absolute;left: 0;top: 66px;background: #fff; box-shadow: 2px 2px 10px 5px rgba( 4, 0, 0 ,.1);
	width: 110px;z-index: 999;transition: all 1s;}
#header .top_nav .main_menu_nav .menu_item:hover .menu_item_list{display: block;height: auto; }
#header .top_nav .main_menu_nav .menu_item .menu_item_list a{color: #002e5b;padding: 10px 0;box-sizing: border-box;display: block;font-size: 14px;}
#header .top_nav .main_menu_nav .menu_item .menu_item_list a:hover{color: #fff;background: #002e5b;}

.mobile_header{display: none;}
 
@media only screen and (max-width: 991px){
	.header_top,
	.top_nav{display: none;}
	
	.mobile_header{display: block;}
	 .mobile_header .logo_wrapper {
		  position: relative;
		  background: #fff;
		  padding: 22px;
		  box-sizing: border-box;
	   }
}


/*移动端头部*/
 #menu_toggle {
    position: relative;
    cursor: pointer;
    float: right;
    width: 26px;
    height: 20px;
    padding: 10px 0;
    margin: 17px 0 0;
}

#menu_toggle button {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -2px 0 0;
    background: #002e5b;
    height: 4px;
    padding: 0;
    border: none;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none !important;
    border-radius: 2px;
}

#menu_toggle button:before {
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    width: 26px;
    height: 4px;
    background: #002e5b;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 2px;
}

#menu_toggle button:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 26px;
    height: 4px;
    background: #002e5b;
    -webkit-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 2px;
}

#menu_toggle.open button {
    background: transparent;
}

#menu_toggle.open button:before {
    top: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#menu_toggle.open button:after {
    bottom: 0;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.mobile_header .logo_wrapper .logo { max-width: 90%;float: left; text-transform: uppercase;}
.mobile_header .header_info { background: #002e5b; }
.top_nav_mobile{padding: 20px 40px;box-sizing: border-box;} 
.top_nav_mobile .mobile_menu_nav{}
.top_nav_mobile .mobile_menu_nav .menu_item{margin-bottom: 20px;}
.top_nav_mobile .mobile_menu_nav .menu_item.active > a{color: #fde428; }

.top_nav_mobile .mobile_menu_nav .menu_item>a{color: #fff;font-size: 18px;font-weight: 700;} 
.top_nav_mobile .mobile_menu_nav .menu_item .menu_item_list{margin-left: 20px;} 
.top_nav_mobile .mobile_menu_nav .menu_item .menu_item_list a{color: #fff;margin: 0 10px 0 0;font-size: 16px;margin-top: 5px;display: inline-block;} 







/*公共底部*/
#footer {
 position: relative;
  background: #002e5b;
  box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, 0.39);
  padding: 40px;
  box-sizing: border-box;
 }
 #footer .widgets_row {
 	position: relative;
 }
 #footer .widgets_row .footer_logo {
 	position: relative;
 	margin: 0 0 20px;
 	padding: 0;
 }
 #footer .widgets_row .footer_logo a {
 	display: inline-block;
 	vertical-align: top;
 }
 #footer .widgets_row .footer_logo a img {
 	display: block;
 	height: 50px;
 	width: auto;
 }
 #footer .widgets_row .footer_text {
 	color: #fff;  
 }
 
 #footer .widgets_row .footer_text p {
 	margin: 0;
 	color: #fff;  
 	font-size: 12px;
 	line-height: 22px;
 }
  #footer .widgets_row .footer_text p a{
 	margin: 0;
 	color: #fff;  
 	font-size: 12px;
 	line-height: 22px;
 }
 
 #footer .footer_widgets .widget .widget_title {
 	position: relative;
 	color: #fff;
 	margin: 0 0 30px;
 	font-size: 18px;
 	padding-top: 10px;
 	padding-bottom: 10px; 
 	position: relative;
 }
  #footer .footer_widgets .widget .widget_title::after{
  	width: 25px;height: 2px;display: block;content: '';position: absolute;left: 0;bottom: 0;background: #fff;
  } 